.top-row{
    padding-top: 40px;
    margin: auto;
    width: 400px;
    display: grid;
    column-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.middle-row{
    padding-top: 5px;
    margin: auto;
    width: 370px;
    display: grid;
    column-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.bottom-row{
    padding-top: 5px;
    margin: auto;
    width: 300px;
    display: grid;
    column-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}