.inner_box{
    box-sizing: content-box;
    border: 2px solid rgb(159, 172, 149);
    border-radius: 5px;
    width: 100%;
    height: 60px;
}

.li-flip{
    animation-name: vertical-flip;
    animation-duration: 0.5s;
}

@keyframes vertical-flip {
    0% { transform: rotateX(0deg) }
    100% { transform: rotateX(360deg) }
}

.letter{
    font-size: 40px;
    margin: 0px;
    text-align: center;
}

.letter_li{
    width: 60px;
    padding: 3px;
}

.box_container{
    position: absolute;
    left: 0;
    padding: 1rem;
}

.box_button{
    padding: 15px;
}