.login-page{
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    border: 2px black;
    text-align: center;
    background-color: rgb(250, 235, 215);
    margin: auto;
    width: 230px;
    height: 50%;
    border-style: solid;
    border-color: black;
    z-index: 2;
    animation-name: float-in;
    animation-duration: 2s;
}

@keyframes float-in {
    0% { top: 100% }
    100% { top: 15% }
}

